<launch>

    <arg name="image" default="/camera/color/image_raw"/>

	<!-- COGNITEAM-PERSON-FOLLOWER -->

	<arg name="follow_without_drive" default="false"/>
	<arg name="robot_radius" default="0.3" />  
    <arg name="target_offset" default="0.5" />  
    <arg name="angle_deg_target_no_rotation" default="15.0" />  
	<arg name="max_distance_init_global_target" default="2.0" /> 
	<arg name="max_distance_rotate_in_place" default="1.5" /> 
	<arg name="max_distance_to_follow" default="5.0" /> 
	<arg name="max_linear_speed" default="0.8" /> 
	<arg name="min_linear_speed" default="0.2" />  
	<arg name="max_angular_speed" default="1.2" /> 
	<arg name="min_angular_speed" default="0.5" />  
	<arg name="max_dist_current_global_and_prev_global_m" default="1.5" /> 
	<arg name="max_dist_obstacle_collision" default="0.5" /> 
	<arg name="base_frame" default="base_footprint" />  


    <!-- DETECTNET -->
	<arg name="model_name" default="ssd-mobilenet-v2"/>
	<arg name="model_path" default=""/>
	<arg name="prototxt_path" default=""/>
	<arg name="class_labels_path" default=""/>
	<arg name="input_blob" default=""/>
	<arg name="output_cvg" default=""/>
	<arg name="output_bbox" default=""/>
	<arg name="overlay_flags" default="box,labels,conf"/>
	<arg name="mean_pixel_value" default="0.0"/>
	<arg name="threshold" default="0.5"/>
	<arg name="scan_topic" default="scan_filtered"/>
	<arg name="cmd_vel_topic" default="cmd_vel"/>

		<!-- run cogniteam-person-follower -->  

	<node name="cogniteam_person_follower_node" pkg="cogniteam_person_follower" 
		type="cogniteam_person_follower_node" output="screen">

        <param name="color_image_topic" type="string" value="$(arg image)"/>
        <param name="model_name" value="$(arg model_name)"/>
		<param name="model_path" value="$(arg model_path)"/>
		<param name="prototxt_path" value="$(arg prototxt_path)"/>
		<param name="class_labels_path" value="$(arg class_labels_path)"/>
		<param name="input_blob" value="$(arg input_blob)"/>
		<param name="output_cvg" value="$(arg output_cvg)"/>
		<param name="output_bbox" value="$(arg output_bbox)"/>
		<param name="overlay_flags" value="$(arg overlay_flags)"/>
		<param name="mean_pixel_value" value="$(arg mean_pixel_value)"/>
		<param name="threshold" value="$(arg threshold)"/>

		<param name="robot_radius" value="$(arg robot_radius)"/>
		<param name="target_offset" value="$(arg target_offset)"/>
		<param name="angle_deg_target_no_rotation" value="$(arg angle_deg_target_no_rotation)"/>
		<param name="max_distance_init_global_target" value="$(arg max_distance_init_global_target)"/>
		<param name="max_distance_rotate_in_place" value="$(arg max_distance_rotate_in_place)"/>
		<param name="max_distance_to_follow" value="$(arg max_distance_to_follow)"/>
		<param name="max_linear_speed" value="$(arg max_linear_speed)"/>
		<param name="min_linear_speed" value="$(arg min_linear_speed)"/>
		<param name="max_angular_speed" value="$(arg max_angular_speed)"/>
		<param name="min_angular_speed" value="$(arg min_angular_speed)"/>
		<param name="max_dist_current_global_and_prev_global_m" value="$(arg max_dist_current_global_and_prev_global_m)"/>
		<param name="max_dist_obstacle_collision" value="$(arg max_dist_obstacle_collision)"/>		
		<param name="base_frame" value="$(arg base_frame)"/>

		<param name="follow_without_drive" value="$(arg follow_without_drive)"/>

		<param name="scan_topic" value="$(arg scan_topic)"/>
		<param name="cmd_vel_topic" value="$(arg cmd_vel_topic)"/>

    </node>

	<!-- run velocity smoother -->  
	<!-- <include file="$(find yocs_velocity_smoother)/launch/velocity_smoother_with_params.launch"/> -->

	<!-- run detect_leg_clusters -->  
	<param name="forest_file" value="$(find leg_tracker)/config/trained_leg_detector_res=0.33.yaml" />
	<param name="scan_topic" value="$(arg scan_topic)"/>
	<param name="fixed_frame" value="$(arg base_frame)"/>
	<param name="scan_frequency" value="15"/>
	<node pkg="leg_tracker" type="detect_leg_clusters" name="detect_leg_clusters" output="screen"/>  
    
    
</launch>
